* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 170px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.go {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.go > li {
    list-style-type: none;
}

.go > li > a {
    color: rgb(127, 182, 203);
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.den {
    background-image: url(images/gia.jpg);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    font-size: xx-large;
    margin-top: auto;
    padding-top: 0;
    padding-right:105px;
    color:rgb(73, 69, 77)
}